<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Licencias</h5>
        <p class="grey-text text-lighten-4">Aqui ponemos una descripcion</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contactenos</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" target="_blank"
              href="https://www.facebook.com/profile.php?id=100094651059805&mibextid=hu50Ix"><i
                class="material-icons">smartphone</i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</footer>