<div class="row red lighten-2">
    <div class="col s12">
        <h1 id="titulo">Paleteria</h1>
    </div>
    <div class="col s6"> 
        <div class="carousel">
        <a class="carousel-item" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFXf1zYETGex4_Sa-5uesId8Z_ICQ3fRl-Ug&usqp=CAU"></a>
        <a class="carousel-item" ><img src=""></a>
        <a class="carousel-item" ><img src=""></a>
        <a class="carousel-item" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKo-P1C4BA9fczMVTmUqjLUq2llADyh4tjlQ&usqp=CAU"></a>
        <a class="carousel-item" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-n0iDXMBs8koniF0NTS4QvgQd6WvLiQM6MQ&usqp=CAU"></a>
      </div>
    </div>
    <div class="col s6">
        <div class="" id="prueba">
            Nuestro exclusivo catálogo de paletas artesanales está diseñado para satisfacer todos los paladares y
            para aquellos que buscan algo
            más que un simple helado.Desde exquisitas combinaciones de frutas frescas hasta caprichosas mezclas de
            chocolates gourmet, cada paleta
            es una explosión de felicidad congelada
        </div>
    </div>
    
</div>